.nested-fields
  .collaborator-group
    = f.input :term, label: false, placeholder: "e.g. ali@utoronto.ca or Ali Diba"
    = f.input :user_id, label: false, as: :hidden
  .links-remove
    = link_to_remove_association '', f, class: 'icon-minus-circle'
