.container
  #footer.row-fluid
    .credits
      = link_to 'http://www.roshan-institute.org/' do
        .roshan-logo
      %p This Research Platform has become possible in part through a grant by Roshan Cultural Heritage Institute.
