#dialog.terms-dialog
  .terms-english
    %h2 User Policy
    %p This Platform is administered by WWQI editors. We reserve the right to edit or remove any posting that is not related to the purpose of this website, or that is otherwise inappropriate.

    %h2 Use of Postings – Copyrights
    %p You agree that WWQI may use copy, edit and use your posted Corrections, and biographical and historical information that you post in Questions and Discussions Threads,  to revise its pages. Where applicable, such information will be linked back to the related Thread for all viewers to be able to track your contribution.
    %p Your postings to Research-in-Progress and Contributions – Transcription, Translations, Biographies – are your intellectual property and you have the ability to select with whom you share them. Should WWQI wish to use any of these materials on our public site (www.qajarwomen.org), we will contact you and ask for your written permission.
    %p As a user, you are required to respect other users’ copyrights to their postings and to follow standard referencing protocols when you use any such material.
    %p If you believe that your copyrighted work is being infringed by any material posted in the WWQI Research Platform, please visit http://www.harvard.edu/reporting-copyright-infringements and follow the procedures set out there.

    %h2 Privacy
    %p The workings of our applications by default collect certain information when you register as a user and log in.

    %h2 What do we use your information for?
    %p We use your IP address to help diagnose problems with our server and to administer our website by identifying which parts of our site are most heavily used. We do not link IP addresses to anything personally identifiable. This means that when user sessions are tracked, the users will remain anonymous.
    %p The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.
    %p We may also provide your information to third parties in circumstances where Harvard University regulations require.

    %h2 Device Information Collected By Us
    %p We may collect non-personal information about the computer, mobile device or other device you use to access our site, such as IP address, geolocation information, unique device identifiers, browser type, browser language or other information of this nature. We use this information in an aggregate fashion to track access to the site. At no time do we disclose site usage by individual IP addresses. Web server logs are retained on a temporary basis and then deleted from our systems.

    %h2 Cookies
    %p Cookies are small files that are stored on your computer (unless you block them). We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our site.

    %h2 Third-Party Cookies
    %p Cookies may be set by an organization other than WWQI. These “third-party cookies” may, for example, originate from websites such as Twitter, Facebook, Google Plus or other social media services for which our site has implemented “plug-ins.” Since the cookie policies of these sites change over time, you should determine their policies by visiting the privacy policy pages of these sites directly.
    %p You may disable cookies through your individual browser options. If you would like to learn more about cookies please refer to the following website: http://www.allaboutcookies.org/

    %h2 Links to Third-Party Websites
    %p We may provide hyperlinks to third-party websites as a convenience to users of WWQI. WWQI does not control third-party websites and is not responsible for the contents or privacy practices of any linked-to, third-party websites or any hyperlink in a linked-to website.

    %h2 Email Policy
    %p We will not share, sell, rent, swap or authorize any third party to use your email address.

    %h2 Information Protection
    %p To prevent unauthorized access, maintain data accuracy and ensure the appropriate use of information that has been gathered about you, we have taken commercially reasonable steps to protect the information. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure.

    %h2 CHANGES TO OUR POLICIES
    %p We may amend our User Policy or our Privacy Policy from time to time. Any such changes will be posted on this page. The effective date of this policy is April 1st, 2013.

[Agree] / [Disagree]
