.nested-fields.row-fluid
  = f.input :content, label: false, input_html: { class: 'upload'}
  = f.input :content_cache, as: :hidden
  .dummyfile
    %a.fileselectbutton.btn Choose...
    %input.filename{type: 'text', name: 'filename'}
  .links-remove
    = link_to_remove_association '', f, :class => 'icon-minus-circle'
