!!! 5
%html{:lang => "en"}
  %head
    %body
      %h1
        This is an invitation from Qaja Women.
      %p
        You've been invited by #{@invitation.inviter_fullname} in Qajar Women.
      - if @invitation.message
        = @invitation.message
      %p
        Please visit and sign up at 
        = link_to 'Qajar Women', 'http://www.example.com/signup'
