.content#posts-index.span11
  %h2 Contributions
  %p Help us enrich the WWQI archives by contributing information to the project. There are numerous ways you can contribute.

  %ul.thread-type.btn-group
    %li.btn.active
      = link_to 'Transcribe a document'
    %li.btn
      = link_to 'Translate a document'
    %li.btn
      = link_to 'Write a biography'
    %li.btn
      = link_to 'Submit a correction'
