.row
  .intro.span9.offset1
    .intro-header
      .language-select-intro
        .select-farsi
          %p فارسی
        .select-english
          %p English
    .intro-english
      %h2 Welcome
      %p Welcome to WWQI Research Platform. This space aims to encourage interactive use of the WWQI digital archive, put students and scholars in collaborative conversations, and generate innovative scholarship on the cultural history of the Qajar period focused on lives of women and issues of gender and sexuality.
    .intro-farsi
      %h2 پژوهشگاه
      %p به پژوهشگاه «دنیای زنان در عصر قاجار» خوش آمدید.  هدف این پژوهشگاه ایجاد فضایی برای گفتگو و تبادل فکری میان دانشجویان و پژوهشگرانی است که علاقه دارند با استفاده از منابع دیجیتال این آرشیو پژوهشهای خلاق در زمینه تاریخ فرهنگی دوره قاجار را، با تمرکز بر زندگی زنان و مقولات جنس‌گونگی و جنسیت، گسترش دهند.
-######Features commented out until we get real content
-#.row
  -#.features.span12
    -#.col1.span4
      -#.feature-image.hidden-phone
        -##img1
      -#.feature-copy
        -#%h3 Feature 1
        -#%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    -#.col2.span4
      -#.feature-image.hidden-phone
        -##img2
      -#.feature-copy
        -#%h3 Feature 2
        -#%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    -#.col3.span4
      -#.feature-image.hidden-phone
        -##img3
      -#.feature-copy
        -#%h3 Feature 3
        -#%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
#sign-in-main.row
  .forms
    = render '/partials/user_registration', :resource => User.new
    = render '/partials/user_session'
