.row
  .intro
    .intro-header
      .language-select-intro
        .select-farsi
          %p فارسی
        .select-english
          %p English
    .intro-english
      %h4=t '.welcome_header'
      %p=t '.welcome_description'
    .intro-farsi
      %h4 پژوهشگاه
      %p به پژوهشگاه «دنیای زنان در عصر قاجار» خوش آمدید.  هدف این پژوهشگاه ایجاد فضایی برای گفتگو و تبادل فکری میان دانشجویان و پژوهشگرانی است که علاقه دارند با استفاده از منابع دیجیتال این آرشیو پژوهشهای خلاق در زمینه تاریخ فرهنگی دوره قاجار را، با تمرکز بر زندگی زنان و مقولات جنس‌گونگی و جنسیت، گسترش دهند.
  .features-wrapper
    %h3.intro-copy=t '.feature_list'
    -# %h3.intro-copy-farsi امکاناتی که این پژوهشگاه فراهم می آورد:
    .features
      .col1
        .feature-image
          #img1
        .feature-copy
          %h3=t '.question_discussion_header'
          %p=t '.question_discussion_description'
        .feature-copy-farsi
          %h3 پرسش و گفتگو
          %p می توانید با طرح سؤال یا نکته ای رشته گفتگو و بحث را آغاز کنید، در رشته گفتگوهای دیگران شرکت کنید، پرسش ها و نکات را به اقلام سایت «دنیای زنان در عصر قاجار» پیوند دهید، و بسیار امکانات دیگر.
      .col2
        .feature-image
          #img2
        .feature-copy
          %h3=t '.research_in_progress_header'
          %p=t '.research_in_progress_description'
        .feature-copy-farsi
          %h3 پژوهشهای در جریان
          %p می توانید کارهای پژوهشی، یادداشت ها و ایده های تحقیقی خود را برای مبادله فکری با دیگران به اشتراک بگذارید؛ و یا با نقد و نظر خود به پژوهشهای دیگران یاری رسانید.
      .col3
        .feature-image
          #img3
        .feature-copy
          %h3=t '.contribution_header'
          %p=t '.contribution_description'
        .feature-copy-farsi
          %h3 مشارکت
          %p می توانید به انواع مختلف با«دنیای زنان در عصر قاجار» همکاری کنید؛ از جمله ترجمه اسناد، تایپ اسناد خطی، نگارش شرح حال افراد موجود در آرشیو، تکمیل زندگی نامه های موجود، و تصحیح اطلاعات مربوط به اقلام آرشیو.
    -#.sharing
      -#%p You can decide your level of sharing in all threads and posts.
#sign-in-main-wrapper
  %h3.intro-copy=t '.sign_up'
  %h3.intro-copy-farsi برای استفاده از امکانات پژوهشگاه، بار اول میدانهای سمت چپ را کامل کرده، رمز عبور خود را ایجاد کنید. از آن پس، با استفاده از رمز ورود وارد پژوهشگاه شوید:
  #sign-in-main.row
    .forms
      = render '/partials/user_registration', :resource => User.new
      = render '/partials/user_session'
