.nested-fields.row-fluid
  .span10
    = f.text_field :user_email, placeholder: "e.g. ali@utoronto.ca or Ali Diba"
    = f.input :user_id, as: :hidden
  .links.span2
    = link_to_remove_association '', f, :class => 'icon-minus-sign'
