.nested-fields.row-fluid
  .span7
    = f.input :url, label: false, placeholder: 'e.g. http://qajarwomen.org/fa/item', input_html: { style: 'width:20em' }
  .links
    = link_to_remove_association '', f, :class => 'icon-minus-sign icon-2x'
