.nested-fields.row-fluid
  = f.input :content, label: false, input_html: { class: 'upload' }
  = f.input :content_cache, as: :hidden
  .links
    = link_to_remove_association '', f, :class => 'icon-minus-sign'
