@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello.eot?87392839");
  src: url("fontello.eot?87392839#iefix") format('embedded-opentype'),
       url('fontello.woff?87392839') format('woff'),
       url('fontello.ttf?87392839') format('truetype'),
       url("fontello.svg?87392839#fontello") format('svg');
  font-weight: normal;
  font-style: normal;

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35452195#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-minus:before { content: '\2d'; } /* '-' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-cancel-circle:before { content: '\e800'; } /* '' */
.icon-plus-circle:before { content: '\e801'; } /* '' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-left:before { content: '\2b05'; } /* '⬅' */
.icon-notification:before { content: '\e106'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-right-open-mini:before { content: '\e762'; } /* '' */
.icon-globe:before { content: '\1f30e'; } /* '\1f30e' */
.icon-attach:before { content: '\1f4ce'; } /* '\1f4ce' */
.icon-book:before { content: '\1f4d5'; } /* '\1f4d5' */
.icon-link:before { content: '\1f517'; } /* '\1f517' */
.icon-menu:before { content: '\e802'; } /* '' */
}
