@import 'compass';

@mixin quote-triangle { // needs latest Compass, add '@import "compass"' to your scss
  background-color: #eeeeee; // Old browsers
  @include filter-gradient(#eeeeee, #ffffff, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left top,  #eeeeee 0%,#eeeeee 50%,#ffffff 51%,#ffffff 100%));
}

@mixin transparent-gradient {
  // needs latest Compass, add '@import "compass"' to your scss
  @include filter-gradient(#d6d6d6, #d6d6d6, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  rgba(214,214,214,0) 0%,rgba(214,214,214,1) 25%,rgba(214,214,214,1) 50%,rgba(214,214,214,1) 51%,rgba(214,214,214,1) 79%,rgba(214,214,214,0) 100%));
}


@mixin item-header {
  font-size: .75em;
  font-family: "proxima-nova",sans-serif;
  font-weight: 600;
  color: #b29628;
}

@mixin item-created {
  float: left;
  font-size: .85em;
  color: #696969;
  font-weight: 600;
  margin: 0 10px .25em 0;
  line-height: 1em;
  @include proxima-bold;
}

@mixin item-title {
  font-size: 1.25em;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  color: #696969;
  margin: 0.5em 0 0.65em; 
  width: 100%;
}

@mixin button {
  display: block;
  float: right;
  margin-top: 1em;
  max-width: 7em;
  background: $gold;
  font-family: $fontproxima;
  border: none;
  text-shadow: none;
  font-weight: 500;
  font-size: .9em;
  &:hover {
    background: $darkgold;
  }
}

/*@mixin item-image {*/
  /*background-size: contain;*/
  /*height: 30px;*/
  /*width: 30px;*/
  /*margin-right: 10px;*/
/*}*/

@mixin proxima-bold {
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
}

@mixin action-button {
  @include border-radius(20px);
  background: $gold; 
  border: none;
  color: $lightgrey;
  padding: .3em 1.5em .25em;
  &:hover {
    background: #000;
  }
  a {
    color: white;
    text-shadow: none;
    font-family: "proxima-nova",sans-serif;
  }
}

@mixin flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}  
