// Place all the styles related to the autocomplete controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete {
  border: 2px solid #000;
  max-height: 500px;
  max-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;

  .ui-menu-item {
    border-bottom: 1px solid #000;
    a { 
      color: black ;
      font-family: "proxima-nova", sans-serif;
      padding: 5px;
      display: block;
      text-decoration: none;
      
      &.ui-state-focus {
        background-color: Gainsboro;
      }
    }
  }
}
