@import 'variables';
@import 'mixins';
@import 'base';
// Place all the styles related to the autocomplete controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete {
  border: 1px solid rgba(0, 0, 0, .25);
  max-height: 500px;
  max-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $lightgrey;
  padding: .5% 1.5%;
  list-style-type: none!important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .25);

  .ui-menu-item {
    border-bottom: 1px dotted rgba(0, 0, 0, .25);
    padding: 3% 0;
    a { 
      color: $medgrey;
      font-size: .8em;
      font-family: "proxima-nova", sans-serif;
      padding: 5px;
      display: block;
      text-decoration: none;
      
      /*&.ui-state-focus {*/
        /*background-color: $lightgrey;*/
      /*}*/
    }
    &:last-child { border-bottom: none; }
  }
}
#invite_user_link {
  font-family: $fontproxima;
  padding-bottom: 5%;
  width: 100%;
  overflow: hidden;
  margin: 0 0 -4% -10%;
  padding: 4% 11%;
  a {
    color: $medgrey;
    font-weight: 500;
    width: 75%;
    float: left;
  }
  span.icon-right-open-mini {
    width: 15%;
    float: right;
    color: $medgrey;
    margin-top: 8px;
    &:before {
      content: '\e762';
      font-family: 'fontello';
    }
  }
}

.active_admin ul {
  list-style-type: none;
}
