@import 'bootstrap';
@import 'bootstrap-responsive';

h1 {
  font-size: 2em;
  font-weight: 400;
  color: #FFF;
  font-kerning: auto;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

h4 {
  font-size: .5em;
  color: #FFF;
}
