@import 'bootstrap';
@import 'bootstrap-responsive';
@import "compass/reset.scss";
@import "compass/layout.scss";
@import "variables";
 
@include sticky-footer(142px, "#root", "#root_footer", "#footer");

h1 {
  font-size: 2em;
  font-weight: 500;
  color: #FFF;
}

h2 {
  font-size: 1.75em;
  color: $medgrey;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-family: "proxima-nova",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  margin-bottom: .25em;
  color: $medgrey;
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  color: $darkgrey;
  font-family: "proxima-nova", sans-serif;
}

p, label, a {
  font-size: 1em;
  color: #696969;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
}

a:hover {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

p.bullet {
  color: $gold!important;
  padding-bottom: .25em;
  margin: 2px 10px 0.25em 0;
}
