@import 'bootstrap';
@import 'bootstrap-responsive';
@import "compass/reset.scss";
@import "compass/layout.scss";
 
@include sticky-footer(142px);

h1 {
  font-size: 2em;
  font-weight: 500;
  color: #FFF;
}

h2 {
  font-size: 1.5em;
  color: #333;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-family: "proxima-nova",sans-serif;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  color: #333;
  font-family: "proxima-nova", sans-serif;
}

p, label, a {
  font-size: 1em;
  color: #696969;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
}
