@import 'variables';
.comments {
  .comment {
    float: left;
    width: 600px;
    margin: 5px 0px;
    padding: 10px;
    .item-content {
      width: 93%;
      .item-created {
        padding-bottom: 1em;
        color: $gold;
        font-family: "proxima-nova", sans-serif;
      }
    }
  }
}

.comment_details {
  iframe.wysihtml5-sandbox {
    width: 752px !important;
  }
}
