@import 'variables';
@import 'mixins';

#contributions-content {
  .contribution-list-title {
    background: #ddd;
    padding: 2% 3%;
    margin-top: 3em;
    h3 {
      margin-bottom: 0;
      font-size: 1.1em;
      text-transform: lowercase;
      &:first-letter { text-transform: uppercase; }
    }
  }
  #contribution-list, #contribution-feed {
    background: $lightgrey;
    padding: 2% 3% 3%;
    h4 {
      font-weight: 600;
      margin-bottom: .5em;
      font-size: 1.25em;
    }
    p.feed-intro {
      border-bottom: 1px solid #a8a8a8;
      padding-bottom: 1.5em;
      text-transform: lowercase;
      &:first-letter { text-transform: uppercase; }
    }
    .item-content {
      width: 70%;
    }
    ul li {
      margin: 0 2%;
      .btn {
        @include action-button;
        margin-top: 2%;
      }
    }
  }
  .transcription-subnav {
    float: none;
    font-size: 1em;
    background: #ddd;
    position: relative;
    overflow: hidden;
    padding: .5em 3%;
    margin: 0;
    width: 94%;
    margin-bottom: 2em;
    &:after {
      display: table;
      content: '';
      clear: both;
    }
    & a {
      color: $medgrey;
    }
    & a:hover {
      color: $lightgrey;
    }
    .icon-plus-circle:before {
      font-family: 'fontello';
      content: '\e801';
      margin: 2px 1em 0 0;
      &:hover {
        color: $lightgrey;
      }
    }
    .icon-plus-circle:hover {
      color: $lightgrey;
    }
  }

  #contribution-list {
    ul.items {
      margin: 0;
      li {
        &:last-child { border-bottom: none; }
        .item-content {
          width: 70%;
        }
      }
    }
  }

  #contribution-feed {
    ul li {
      .item-content {
        width: 90%;
      }
    }
  }
}

#new-contribution {
  .item-image {
    overflow: hidden;
    padding: 2%;
    background: $lightgrey;
    img { 
      width: 100px;
      margin-right: 1em;
    }
    p { margin-top: 2.5em; }
  }
  .submit-button { 
    @include button;
  }
}

#new-correction {
  margin-bottom: 0;
  form {
    input {
      @include text-input;
    }
    .field_with_errors {
      input {
        @include error-text-input;
      }
    }

    #correction-btn {
      margin: 2em 0;
      @include button;
    }
  }
}
#research-submit, #new-thread {
  form {
    input {
      @include text-input;
    }
    .field_with_errors {
      input {
        @include error-text-input;
      }
    }
  }
}
