@import 'compass/css3/box-sizing';
@import 'mixins';
@import 'variables';

form {
  overflow: hidden;
}

form#new_post, form#new_research, form.edit_post, form.edit_research,
  form#new_correction {

  label {
    font-weight: bold;
    width: 100%;
  }

  input, textarea {
    @include text-input;
    width: 67%;
  }

  textarea, iframe {
    min-height: 200px;
    width: 100%;
    padding: 10px;
    @include text-input;
  }

  iframe.wysihtml5-sandbox {
    padding: 20px;
  }

  input, textarea, .btn-group {
    display: block;
  }

  input.tags-input {
    padding-left: 10px;
    width: 67%;
    @include box-sizing(border-box);
  }

  input#research_title {
    width: 100%;
    margin-bottom: 2em;
  }

  span.error {
    color: #fff;
    font-weight: bold;
    background-color: #C5112C;
    padding: 0px 3px;
    font-family: $fontproxima;
  }

  span.ui-helper-hidden-accessible {
    font-weight: bold;
    font-family: $fontproxima;
  }

  .tag-list {
    .tags {
      .tag {
        margin-top: 10px;
      }
    }
  }

  #tag-list {
    width: 100%;
  }
  
  .hint {
    font-family: $fontproxima;
    font-size: .7em;
    color: $medgrey;
  }

  .post_uploads_content, .research_uploads_content {
    input.file {
      line-height: 5px;
      float: left;
    }
  }

  .related-items, .invite-collaborators, .tag-list {
    border-bottom: 1px $medgrey dotted;
    padding-bottom: 1.5em;
    label {
      margin: 1em 0 .25em;
      cursor: text;
    }
  }

  #collaborators, #items, #files {
    overflow: hidden;
    margin: 1.5em 0 0;
   
    .btn-group {
      margin-top: 2em;
    }
    
    .expand {
      p {
        font-size: .8em;
        margin-bottom: .25em;
      }
      input {
        margin-bottom: 1em;
      }
      .item-image {
        display: none;
      }
    }

    .links-add, .links-remove {
      a {
        font-size: .8em;
        margin-left: .25em;
        color: $medgrey;
        &:hover {
          color: $gold;
        }
      }

      .icon-plus-circle:before {
        font-family: 'fontello';
        color: $medgrey;
        content: '\e801';
      }
      
      .icon-minus-circle, .icon-plus-circle {
        color: $medgrey;
        &:hover {
          color: $gold;
        }
      }
    }

    .links-remove {
      margin: .75em 0 0 0;
      float: right;
      .icon-minus-circle {
        font-size: .8em;
      }
    }
  }

  .file-upload {
    .links-add {
      margin-top: .5em;
      a.add-file {
        font-size: .8em;
        margin-left: .25em;
        &:hover {
          color: $gold;
        }
      }
    }
  }


  .add-file {
    margin-top: .75em;
  }

  .corner-submit-button {
    padding: 1em 0 1em 2em;
    overflow: hidden;
    #research-submit-button, #correction-btn {
      @include button;
      width: auto;
    }
  }

  .col-1 {
    width: 59%;
    margin-right: 10%;
    label:first-of-type {
      margin-top: 0;
    }
  }

  .col-2 {
    width: 25%;
    padding: 1% 3% 3%;
    background: $lightgrey;
    border-radius: 4px;
  }

  input#research-tags-list {
    width: 100%;
    margin-top: 1em;
  }

  .item-group, .collaborator-group {
    overflow: hidden;
    width: 92%;
    float: left;
    .input {
      overflow: hidden;
      float: left;
      input {
        float: left;
      }
      .item-image {
        margin-right: 5px;
        img {
          height: 45px;
        }
      }
    }
  }

  .nested-fields {
    position: relative;
    input.upload {
      display: none;
    }
    .dummyfile {
      display: inline;
      float: left;
      width: 92%;
      .fileselectbutton, .filename {
        float: left;
      }
      .fileselectbutton {
        margin-top: .75em;
      }
      .filename {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 55%;
        margin: .5em 0 0 .5em;
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        color: $medgrey;
        a {
          white-space: nowrap;
        }
      }
    }
    .links-remove {
      margin-top: 1em;
      overflow: hidden;
      .icon-minus-circle {
        float: right;
        color: $medgrey;
        font-size: .8em;
        &:hover {
          color: $gold;
        }
        &:before {
          font-family: 'fontello';
          content: '\2796';
        }
      }
    }
  }
}

form#new_correction {
  .item-group {
    float: none;

    .item-image.pull-left {
      height: 100%;
      img {
        margin-top: 100%; 
      }
    }
  }

  .text.correction_details {
    clear: left;
    max-width: 70%;
  }
}
