@import 'compass/css3/box-sizing';

form#new_post, form#new_research {
  margin: 50px;

  label {
    font-weight: bold;
  }

  input, textarea, .btn-group {
    margin-top: 3px;
  }

  input.tags-input {
    padding-left: 10px;
    width: 700px;
    @include box-sizing(border-box);
  }

  span.error {
    color: #fff;
    font-weight: bold;
    background-color: #C5112C;
    padding: 0px 3px;
    font-family: "proxima-nova", sans-serif;
  }

  span.ui-helper-hidden-accessible {
    font-weight: bold;
    font-family: "proxima-nova", sans-serif;
  }

  .tag-list {
    .tags {
      .tag {
        margin-top: 10px;
      }
    }
  }

  .post_uploads_content, .research_uploads_content {
    input.file {
      line-height: 5px;
      float: left;
    }
  }

  #items, #collaborators {
    .nested-fields {
      a.icon-minus-sign {
        vertical-align: -12px; 
      }
    }
  }

  #collaborators {
    float: right;
  }
}
