header {
  background-color: #333;
  #logo {
    background: url("/assets/flag.png");
    /*width: 136px;*/
    float: left;
  }
  h1 {
    float: left;
  background: url("/assets/lightpaperfibers.png");
  }
}
