.items-index
  #new-correction
    %h2 Submit a correction
    = simple_form_for resource do |f|
      = f.input :item_id, label: 'Item record number'
      = f.input :details, label: 'Correction'
      = f.submit 'Submit Correction', class: 'btn', id: 'correction-btn'
