!!! 5
%html{:lang => "en"}
  %head
    %title WwqiPlatform
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/bwh1aah.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #header-wrapper.row-fluid
      .span12
        #header.span8.offset2
          #logo-container.span2
            #logo-img
          %h1.span5 Women's Worlds in Qajar Iran
          %h4.span1.offset3 farsi here
    = yield
