!!! 5
%html{:lang => "en"}
  %head
    %title WwqiPlatform
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header.row-fluid
      .span12 
        #logo-container.span2.offset2
          #logo-img
        %h1.span3 Women's Worlds in Qajar Iran
        %h4.span1.offset4 farsi here
    = yield
